
<div class="quizz__container">
    <div class="quizz__logo">
        <img class="main__logo" src="assets\images\buzzfeed-logo.png" alt="buzzfeed logo"
         srcset="">
        <h3>Tittle</h3>
    </div>
    <div class="quizz__questions">
        <h3>Picked question</h3>

    </div>
    <div class="quizz__options">
        <button class="btn__options">
            Option
        </button>
    </div>
    <div class="quizz__results">
            <h1>You are a:</h1>
            <p>Picked answer</p>
    </div>
</div>
